* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: 65%;
  width: 65%;
  overflow: hidden;

  border-radius: 10px;
}

.car-sec {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  padding: 3rem 3rem;
}
.car-sec img,
h1,
p {
  /* margin-bottom: 1.8rem; */
}
.car-sec h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}
.car-sec p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.6;
}

.car-sec button {
  background-color: hsl(0, 0%, 95%);
}

.sedans {
  background-color: hsl(31, 77%, 52%);
}
.sedans button {
  color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}
.suvs button {
  color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}
.luxury button {
  color: hsl(179, 100%, 13%);
}

.learn-more-btn {
  font-family: "Lexend Deca", sans-serif;
  font-size: medium;
  border: none;
  border-radius: 3rem;
  padding: 1rem 2.3rem;
  margin-top: 3rem;
  transition: 0.2s;
}

/** hover effect for learn more button */

.learn-more-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, 0.75);
}
